{% extends 'blogsite/base.html' %}
{% load param_change %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="row mb-2">

    {% for topic in topics %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card h-100">

                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'blogsite:topic_detail' topic.pk %}">{{ topic.title }}</a></h5>
                    <div class="text-center">
                        {{ topic.text_thumbnail|safe }}
                    </div>
                    <p class="card-text">{{ topic.plain_text | linebreaksbr | truncatechars:50 }}<br>
                        <br>カテゴリ： {{ topic.category }}<br>
                        タグ: {% for tag in topic.tag.all %}{{ tag.name }}, {% endfor %}<br>
                        いいね： {{ topic.good_amount }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">更新日： {{ topic.updated_at }}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <ul class="pagination justify-content-center">
                
        {% if topics.has_previous %}
        <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' '1' %}">最初のページ</a></li>
        <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' topics.previous_page_number %}">前のページ</a></li>
        {% else %}
        <li class="page-item"><a class="page-link">最初のページ</a></li>
        <li class="page-item"><a class="page-link">前のページ</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link">{{ topics.number }}</a></li>
        
        {% if topics.has_next %}
        <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' topics.next_page_number %}">次のページ</a></li>
        <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' topics.paginator.num_pages %}">最後のページ</a></li>
        {% else %}
        <li class="page-item"><a class="page-link">次のページ</a></li>
        <li class="page-item"><a class="page-link">最後のページ</a></li>
        {% endif %}
    
    </ul>

</div>

{% endblock content %}