{% extends 'blogsite/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <div class="card">
            <img src="..." alt="カードの画像" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ topic.title }}</h5>
                <p class="card-text">{{ topic.text | safe }}</p>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a href="{% url 'blogsite:topic_edit' topic.pk %}" class="btn btn-success">編集</a>
                        <form action="{% url 'blogsite:topic_delete' topic.pk %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit" onclick='return confirm("本当に削除しますか？");' value="削除">
                        </form>
                        <form action="{% url 'blogsite:topic_good' topic.pk %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-warning" type="submit" value="いいね({{ topic.good_amount }})">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <a href="{% url 'blogsite:index' %}">トップページへ戻る</a>
    </div>
</div>
{% endblock content %}